.cart-btn-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 260px;

  .cart-btn {
    color: var(--clr-grey-1);
    font-size: 1rem;
    letter-spacing: var(--spacing);
    color: var(--clr-grey-1);
    display: flex;

    align-items: center;
  }
  .cart-container {
    display: flex;
    align-items: center;
    position: relative;
    svg {
      height: 1.6rem;
      margin-left: 5px;
    }
  }
  .cart-value {
    position: absolute;
    top: -10px;
    right: -16px;
    background: var(--clr-primary-5);
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 0.75rem;
    color: var(--clr-white);
    padding: 12px;
  }
  .auth-btn {
    display: flex;
    align-items: center;
    background: transparent;
    border-color: transparent;
    font-size: 1rem;
    cursor: pointer;
    color: var(--clr-grey-1);
    letter-spacing: var(--spacing);
    svg {
      margin-left: 5px;
    }
  }
  .image-user {
    display: flex;
  }
  .description-user {
    font-size: 1rem;
    position: relative;
    top: -32px;
    left: 50px;
    font-weight: 800;
  }
  .css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    color: #222;
    text-transform: none;
    margin: -10px;
    font-size: 1rem;
  }
  .userinfo {
    margin-top: 20px;
  }
}
